
.orbitron {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


.playwrite-gb-j> {
  font-family: "Playwrite GB J", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
} 

/* example */
.iosevka-charon-light {
  font-family: "Iosevka Charon", monospace;
  font-weight: 300;
  font-style: normal;
}

.iosevka-charon-regular {
  font-family: "Iosevka Charon", monospace;
  font-weight: 400;
  font-style: normal;
}

.iosevka-charon-medium {
  font-family: "Iosevka Charon", monospace;
  font-weight: 500;
  font-style: normal;
}

.iosevka-charon-bold {
  font-family: "Iosevka Charon", monospace;
  font-weight: 700;
  font-style: normal;
}

.iosevka-charon-light-italic {
  font-family: "Iosevka Charon", monospace;
  font-weight: 300;
  font-style: italic;
}

.iosevka-charon-regular-italic {
  font-family: "Iosevka Charon", monospace;
  font-weight: 400;
  font-style: italic;
}

.iosevka-charon-medium-italic {
  font-family: "Iosevka Charon", monospace;
  font-weight: 500;
  font-style: italic;
}

.iosevka-charon-bold-italic {
  font-family: "Iosevka Charon", monospace;
  font-weight: 700;
  font-style: italic;
}
