/* usually , meaning page size <1000*/
body{
        background-color: aliceblue;
}
div{
    /*box colour */
        background-color: blue;
    /*box dimensions */
        width:200px;
        height: 200px;
    /*each box should have 50 px distance between each other */
        margin:50px;
}

/*if page size >1000 change background color to cyan 
and box colour to dark green*/
@media all and (min-width:1000px){
    body{
        background-color: rgb(122, 239, 255);
    }
    div{
        background-color: green;
    }
}